<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaRelatorioNansen.Properties.Settings.DB_SisRelatorio"
            connectionString="Data Source=SRVTSI06\MSSQLSRV2008ENT;Initial Catalog=DB_SisRelatorio;Persist Security Info=True;User ID=dba-wke"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>